<a href="https://colab.research.google.com/github/bhanu-50/Internship/blob/main/Data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [19]:
df = pd.read_excel('/content/SuperMarket_data.xlsx')

In [20]:
df.head()

,Category,City,Country,Customer Name,Manufacturer,Order Date,Order ID,Postal Code,Product Name,Region,...,Ship Date,Ship Mode,State,Sub-Category,Discount,Number of Records,Profit,Profit Ratio,Quantity,Sales
0,Office Supplies,Houston,United States,Darren Powers,Message Book,2013-01-03,CA-2011-103800,77095,"Message Book, Wirebound, Four 5 1/2"" X 4"" Form...",Central,...,2013-01-07,Standard Class,Texas,Paper,0.2,1,$6,0.34,2,$16
1,Office Supplies,Naperville,United States,Phillina Ober,Avery,2013-01-04,CA-2011-112326,60540,Avery 508,Central,...,2013-01-08,Standard Class,Illinois,Labels,0.2,1,$4,0.36,3,$12
2,Office Supplies,Naperville,United States,Phillina Ober,SAFCO,2013-01-04,CA-2011-112326,60540,SAFCO Boltless Steel Shelving,Central,...,2013-01-08,Standard Class,Illinois,Storage,0.2,1,-$65,-0.24,3,$273
3,Office Supplies,Naperville,United States,Phillina Ober,GBC,2013-01-04,CA-2011-112326,60540,GBC Standard Plastic Binding Systems Combs,Central,...,2013-01-08,Standard Class,Illinois,Binders,0.8,1,-$5,-1.55,2,$4
4,Office Supplies,Philadelphia,United States,Mick Brown,Avery,2013-01-05,CA-2011-141817,19143,Avery Hi-Liter EverBold Pen Style Fluorescent ...,East,...,2013-01-12,Standard Class,Pennsylvania,Art,0.2,1,$5,0.25,3,$20

In [21]:
df.shape

(9994, 21)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Category           9994 non-null   object
 1   City               9994 non-null   object
 2   Country            9994 non-null   object
 3   Customer Name      9994 non-null   object
 4   Manufacturer       9994 non-null   object
 5   Order Date         9994 non-null   datetime64[ns]
 6   Order ID           9994 non-null   object
 7   Postal Code        9994 non-null   int64
 8   Product Name       9994 non-null   object
 9   Region             9994 non-null   object
 10  Segment            9994 non-null   object
 11  Ship Date          9994 non-null   datetime64[ns]
 12  Ship Mode          9994 non-null   object
 13  State              9994 non-null   object
 14  Sub-Category       9994 non-null   object
 15  Discount           9994 non-null   float64
 16  Number of Records  9994 non-null   int64
 17  Profit             9994 non-null   object
 18  Profit Ratio       9994 non-null   float64
 19  Quantity           9994 non-null   int64
 20  Sales              9994 non-null   object
dtypes: datetime64[ns](2), float64(2), int64(3), object(14)
memory usage: 1.6+ MB

In [23]:
df.Category.unique()

array(['Office Supplies', 'Furniture', 'Technology'], dtype=object)

In [24]:
df.Category.value_counts()

Category
Office Supplies    6026
Furniture          2121
Technology         1847
Name: count, dtype: int64

In [52]:
# orders percentage
Category_prc = df.Category.value_counts(normalize=True)
Category_prc.apply(lambda x: str(round(x*100,2))+"%")

Category
Office Supplies     60.3%
Furniture          21.22%
Technology         18.48%
Name: proportion, dtype: object

In [51]:
#top five cities with heighest orders
df.City.value_counts().head()

City
New York City    915
Los Angeles      747
Philadelphia     537
San Francisco    510
Seattle          428
Name: count, dtype: int64

In [ ]:
df['Order Date'].min(), df['Order Date'].max()